.heading {
  font-size: 1.25rem;
}

.sub-heading {
  font-size: 1.15rem;
}

.para {
  font-size: 1.15rem;
}

@media (min-width: 1200px) {
  .heading {
    font-size: 1.25rem !important;
  }

  .sub-heading {
    font-size: 1.15rem !important;
  }

  .para {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 1300px) {
  .heading {
    font-size: 2rem !important;
  }

  .sub-heading {
    font-size: 1.25rem !important;
  }

  .para {
    font-size: 1.25rem;
    line-height: 1.65rem;
  }
}

@media (min-width: 1440px) {
  .heading {
    font-size: 1.75rem !important;
  }

  .sub-heading {
    font-size: 1.5rem !important;
  }

  .para {
    font-size: 1.15rem;
    line-height: 1.75rem;
  }

  .image {
    max-width: 100%;
    /* height: 8%; */
    display: block;
  }
}

@media (min-width: 1540px) {
  .para {
    font-size: 1.25rem;
    line-height: 1.85rem;
  }

  .image {
    max-width: 100%;
    /* height: 8%; */
    display: block;
  }
}

@media (min-width: 1600px) {
  .heading {
    font-size: 2.5rem !important;
  }

  .para {
    font-size: 1.25rem;
    line-height: 2rem;
  }
 
}

@media (min-width: 1720px) {
  .heading {
    font-size: 3rem !important;
  }

  .sub-heading {
    font-size: 1.75rem !important;
  }

  .para {
    font-size: 1.25rem;
    line-height: 2.5rem;
  }
}
