.header-title {
  font-family: "SuisseIntl-Book", monospace;
  font-weight: 700;
}

.carousel-slider {
  background-color: black !important;
}

.thumbs-wrapper {
  display: none !important;
}

.heroText {
  font-size: 2.5rem;
}

@media (min-width: 850px) {
  .heroText {
    font-size: 2.75rem;
  }
}


@media (min-width: 950px) {
  .heroText {
    font-size: 3.5rem;
  }
}

@media (min-width: 1150px) {
  .heroText {
    font-size: 4rem;
  }
}

@media (min-width: 1300px) {
  .heroText {
    font-size: 4.5rem;
  }
}

@media (min-width: 1380px) {
  .heroText {
    font-size: 5rem;
  }
}
