.header-title {
  font-family: "SuisseIntl-Book", monospace;
  font-weight: 700;
}

.carousel-slider {
  background-color: black !important;
}

.thumbs-wrapper {
  display: none !important;
}

.heroText {
  font-size: 2rem;
}

@media (min-width: 1150px) {
  .heroText {
    font-size: 3rem;
  }
}

@media (min-width: 1300px) {
  .heroText {
    font-size: 5rem;
  }
}

@media (min-width: 1350px) {
  .heroText {
    font-size: 6rem;
  }
}

