.detailImage {
  max-width: 100%;
  height: auto;
  display: block;
}

.initiativesText {
}

@media (max-width: 1500px) {

  .initiativesText {
    font-size: 3rem;
  }
}

@media (max-width: 1300px) {
  .initiativesText {
    
    font-size: 2rem;
  }
}
