.image {
  max-width: 100%;
  height: auto;
  display: block;
}

.border-animate-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 2s ease-in-out;
  transition-delay: 2s;
}

.border-animate-top {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 2s ease-in-out;
  transition-delay: 1s; /* Start after vertical line */
}

.border-animate-middle {
  position: absolute;
  top: 0;
  left: calc(100% * 5 / 12);
  width: 2px;
  height: 0;
  background-color: black;
  transition: height 2s ease-in-out;
}

.in-view .border-animate-bottom,
.in-view .border-animate-top {
  width: 100%;
}

.in-view .border-animate-middle {
  height: 100%;
}


.carouselContainer{
  /* overflow: hidden; */
  max-width: 100%;
  height: auto;
  display: block;
  /* background-color: purple; */
}


.carousel-slider{
  /* max-width: 100%;
  display: block;
  background-color: blue; */
}